/* Base elements */
html, body {
  width: 100%;
  height: 100%;

  font-family: Arial, Helvetica, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  line-height: 1.5;
}

body {
  margin: 0;

  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 0;
  padding-inline-start: 0;
  margin: 0;
}

li:active,
li:focus,
li:hover {
  outline: 0;
}

a {
  cursor: pointer;

  color: #004E6D;
}
a:active,
a:focus,
a:hover,
li:active > a,
li:focus > a,
li:hover > a {
  color: #DC2543;

  outline: 0;
}

.button, button {
  display: inline-block;
  padding: 0 16px;
  border-radius: 8px;
  cursor: pointer;

  height: 40px;

  line-height: 40px;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  color: rgba(0, 0, 0, 0.65);
  background-color: transparent;
  border: 1px solid rgba(0, 78, 109, 0.65);
}
.button:active,
button:active,
.button:hover,
button:hover {
  color: #004E6D;
  background-color: #ffffff;
  border: 1px solid #004E6D;

  outline: 0;
}
.button:focus,
button:focus {
  outline: 0;
}

.button.button-primary,
button.button-primary {
  background-color: #004E6D;
  color: #ffffff;
  border: 1px solid #004E6D;
}
.button.button-primary:active,
button.button-primary:active,
.button.button-primary:hover,
button.button-primary:hover {
  background-color: #ffffff;
  color: #004E6D;

  outline: 0;
}
.button.button-primary:focus,
button.button-primary:focus {
  outline: 0;
}

input,
select,
textarea {
  padding: 4px 6px;
  border-radius: 8px;

  height: 24px;

  background-color: #fff;
  border: 1px solid rgba(72, 206, 221, 0.6);
  box-shadow: none;
}
input:focus,
select:focus,
textarea:focus {
  border: 1px solid #004E6D;

  outline: 0;
}
textarea {
  height: auto;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

/* Browser Fixes */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

a {
  background-color: transparent;
}

b,
strong {
  font-weight: bold;
}

small {
  font-size: 80%;
}

hr {
  height: 0;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;

  font: inherit;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;

  border: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
}

input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.wrapper {
  display: flex;

  width: 100%;
  min-height: 100%;

  background-color: #FFF2F2;
  color: #000000;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.65);
  display: flex;

  width: 100%;
  height: 100%;

  opacity: 0;
  z-index: 9999;

  animation: all 500ms ease-in-out;
}

.content-left,
.content-right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 65px;

  width: 100%;
}

.content-left {
  background-color: #FFFFFF;

  transition: left 100ms linear;
}

.content-right {
  position: absolute;
  right: -100%;

  transition: right 100ms linear;
}

.content-bottom {
  margin-top: auto;
}

.content-action {
  margin: 16px 0;

  text-align: right;
}
.content-action button + button {
  margin-left: 16px;
}

.content {
  flex-grow: 1;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 24px;

  width: 100%;
}
.overlay .container {
  border-radius: 4px;
}

.container-box {
  align-self: center;
  justify-self: center;
  margin: 0 16px;

  background-color: #ffffff;
}

.back-button {
  margin-top: 24px;
}

.show-mobile-tablet {
  display: inline;
}

.hide-mobile-tablet {
  display: none;
}

.text-center {
  text-align: center;
}

h2 img {
  margin-right: 6px;

  width: auto;
  height: 18px;
}

/* Responsive additions */

/* Tablet */
@media (min-width: 600px) {
  .content-action {
    margin: 24px 0;
  }

  .container {
    padding: 0 32px;
  }

  .container-box {
    width: 65%;

    margin: 0 auto;
  }
}

/* Small Desktop */
@media (min-width:960px) {
  .content-left,
  .content-right {
    position: relative !important;
  }

  .content-left {
    left: 0 !important;

    width: 33%;

    background-color: #ffffff;
    -webkit-box-shadow: inset 0px 4px 13px -6px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 4px 13px -6px rgba(0,0,0,0.3);
    box-shadow: inset 0px 4px 13px -6px rgba(0,0,0,0.3);
  }

  .content-right {
    right: 0 !important;

    width: 66%;
  }

  .container-box {
    width: 60%;
  }

  .show-mobile-tablet {
    display: none;
  }

  .hide-mobile-tablet {
    display: inline;
  }
}

/* Desktop */
@media (min-width:1280px) {
  .container-box {
    width: 50%;
  }
}
